.tomato-container {
    width: 25em;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 6px, rgba(0, 0, 0, 0.02) 0px 4px 8px, rgba(0, 0, 0, 0.02) 0px 6px 12px;
}

.tomato-container-month {
    font-size: 20px;
}

.tomato-container-whatday {
    color: #DCDCDD;
    font-size: 15px;
    margin-top: 5px;
}

.tomato-container-day {
    text-align: center;
}

.tomato-container-day:hover {
    cursor: pointer;
    background-color: #DEDEDE;
    border-radius: 50%;
}

.tomato-counter {
    font-size: 50px;
    font-weight: bold;
}

.clock_goal-container {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 6px, rgba(0, 0, 0, 0.02) 0px 4px 8px, rgba(0, 0, 0, 0.02) 0px 6px 12px;
}